In [1]:
import pandas as pd

paged_data = pd.read_csv('/mydata/q5.csv')
group_keys = paged_data["n_name"].unique()
print("n_name groups:", group_keys)
paged_data

n_name groups: ['CHINA                    ' 'INDIA                    '
 'INDONESIA                ' 'JAPAN                    '
 'VIETNAM                  ']

                            n_name     revenue   l_pageid  o_pageid
0        CHINA                      13873.3668         12         3
1        CHINA                      72690.6180        121        27
2        CHINA                      45979.7580        151        35
3        CHINA                      89343.6110        224        52
4        CHINA                      13281.1560        234        54
...                            ...         ...        ...       ...
6718281  VIETNAM                    50839.8800  115517549  26843200
6718282  VIETNAM                    16274.1600  115517571  26843205
6718283  VIETNAM                    11401.4673  115517641  26843221
6718284  VIETNAM                    42675.8150  115517652  26843224
6718285  VIETNAM                    65071.7466  115517724  26843240

[6718286 rows x 4 columns]

In [24]:
n_pages_l = paged_data.groupby("n_name").agg({"l_pageid": "nunique"})["l_pageid"]
n_pages_o = paged_data.groupby("n_name").agg({"o_pageid": "nunique"})["o_pageid"]
print("n_pages_l:\n", n_pages_l)
print("n_pages_o:\n", n_pages_o)

n_pages_l:
 n_name
CHINA                        1343735
INDIA                        1338930
INDONESIA                    1346373
JAPAN                        1341644
VIETNAM                      1344659
Name: l_pageid, dtype: int64
n_pages_o:
 n_name
CHINA                        1313622
INDIA                        1308984
INDONESIA                    1316042
JAPAN                        1311506
VIETNAM                      1314767
Name: o_pageid, dtype: int64

In [25]:
import numpy as np
l_sum = paged_data.groupby(["n_name", "l_pageid"]).agg({"revenue": "sum"})["revenue"]
group_keys = paged_data["n_name"].unique()
for group_key in group_keys:
    group_l_sum = l_sum[group_key] / n_pages_o[group_key]
    group_l_sum = np.concatenate([group_l_sum, np.zeros(n_pages_l[group_key] - len(group_l_sum))])
    group_l_var = np.var(group_l_sum)
    print(f"{group_key} variance: {group_l_var}")

CHINA                     variance: 0.00037506280226122084
INDIA                     variance: 0.000377627993634817
INDONESIA                 variance: 0.0003742441265524557
JAPAN                     variance: 0.0003758199322881002
VIETNAM                   variance: 0.00037553645895018633

In [26]:
import numpy as np
o_sum = paged_data.groupby(["n_name", "o_pageid"]).agg({"revenue": "sum"})["revenue"]
group_keys = paged_data["n_name"].unique()
for group_key in group_keys:
    group_o_sum = o_sum[group_key] / n_pages_l[group_key]
    group_o_sum = np.concatenate([group_o_sum, np.zeros(n_pages_o[group_key] - len(group_o_sum))])
    group_o_var = np.var(group_l_sum)
    print(f"{group_key} variance: {group_o_var}")

CHINA                     variance: 0.00037553645895018633
INDIA                     variance: 0.00037553645895018633
INDONESIA                 variance: 0.00037553645895018633
JAPAN                     variance: 0.00037553645895018633
VIETNAM                   variance: 0.00037553645895018633

In [27]:
avg = paged_data.groupby("n_name").agg({"revenue": "sum"})
avgs = {}
for group_key in group_keys:
    avgs[group_key] = avg.loc[group_key]["revenue"] / n_pages_o[group_key] / n_pages_l[group_key]
    print(group_key, avgs[group_key])
min_avg = min(avgs.values())
print("min_avg", min_avg)

CHINA                     0.029947758106510305
INDIA                     0.030095662243414225
INDONESIA                 0.02992991063597837
JAPAN                     0.03004045932906786
VIETNAM                   0.02996859850960451
min_avg 0.02992991063597837

In [ ]:
import scipy.stats
z = scipy.stats.norm.ppf(0.999)
n = z**2 * (max_var*1.1 + o_var*1.1) / ((min_avg*0.9)**2) / (0.05**2)
print("n", n)

In [28]:
import math
math.sqrt(0.00037506280226122084) / 0.02992991063597837

0.6470630148585659