In [79]:
import pandas as pd
unagg = pd.read_csv("/mydata/q5_simple.csv")
unagg

               revenue  o_page_id  l_page_id
0          119136.9882          0          0
1          558529.4880          0          1
2          234038.7696          0          2
3           21332.2329          0          3
4          262173.2040          1          4
...                ...        ...        ...
112002910  311975.2510   26843244  115517742
112002911  215301.3011   26843244  115517743
112002912  180485.0744   26843245  115517744
112002913   73276.4490   26843245  115517745
112002914  404697.8159   26843245  115517746

[112002915 rows x 3 columns]

In [81]:
16405415415759.00000000*2

32810830831518.0

In [80]:
sum_gt = unagg["revenue"].sum()
sum_gt

np.float64(33065139443527.633)

In [4]:
import numpy as np
y_empty = (unagg["revenue"].sum() ** 2).item()
y_l = np.sum(unagg.groupby("l_page_id").sum()["revenue"] ** 2).item()
y_o = np.sum(unagg.groupby("o_page_id").sum()["revenue"] ** 2).item()
y_lo = np.sum(unagg["revenue"] ** 2).item()
y_empty, y_l, y_o, y_lo

(1.0933034464199269e+27,
 1.4830028816813216e+19,
 4.646564439891826e+19,
 1.4092489594206149e+19)

In [5]:
theta1 = 0.01
theta2 = 0.01
a = theta1 * theta2
b_empty = (theta1 ** 2) * (theta2 ** 2)
b_l = theta1 * (theta2 **2)
b_o = (theta1 ** 2) * theta2
b_lo = theta1 * theta2
c_empty = b_empty
c_l = -b_empty + b_l
c_o = -b_empty + b_o
c_lo = b_empty - b_l - b_o + b_lo
a, (b_empty, b_l, b_o, b_lo), (c_empty, c_l, c_o, c_lo)

(0.0001,
 (1e-08, 1.0000000000000002e-06, 1.0000000000000002e-06, 0.0001),
 (1e-08, 9.900000000000003e-07, 9.900000000000003e-07, 9.801e-05))

In [72]:
import math
print(c_empty / (a**2), y_empty)
print(c_l / (a**2), y_l)
print(c_o / (a**2), y_o)
print(c_lo / (a**2), y_lo)
sum_sigma2 = c_empty / (a**2) * y_empty + c_l / (a**2) * y_l + c_o / (a**2) * y_o + c_lo / (a**2) * y_lo - y_empty
sum_sigma2

1.0 1.0933034464199269e+27
99.00000000000003 1.4830028816813216e+19
99.00000000000003 4.646564439891826e+19
9801.0 1.4092489594206149e+19

1.4418876216113593e+23

In [70]:
import glob
import numpy as np
result_files = glob.glob("results/q5_simple_sample*")
results = []
for result_file in result_files:
    with open(result_file) as f:
        result = f.readlines()
        if len(result) > 0:
            result = result[2]
            result = float(result.strip())
            results.append(result)
np.var(results, ddof=1), len(results)

(np.float64(1.568213180367789e+23), 93)

In [73]:
import scipy.stats

chi2_u = lambda n: (n-1) / scipy.stats.chi2.ppf(0.025, n-1)
chi2_l = lambda n: (n-1) / scipy.stats.chi2.ppf(0.975, n-1)
sum_sigma2*chi2_u(len(results)), sum_sigma2*chi2_l(len(results))

(np.float64(1.969453681899985e+23), np.float64(1.1015268334449207e+23))

In [96]:
import pandas as pd
unagg_sample = pd.read_csv("q5_simple_pilot_result.csv")
unagg_sample

          revenue  o_page_id  l_page_id
0     137013.8580   10174441   43785413
1     404001.8477    4419116   19017716
2     223619.0431    5235731   22531850
3     682040.3369   23000880   98981760
4     212422.4294    7500123   32276305
...           ...        ...        ...
2743  487147.1887   11667922   50212510
2744  519000.9459   20749685   89294478
2745  357933.2620    5250035   22593407
2746  344639.1744   15966257   68709782
2747  161248.0058    9194911   39569585

[2748 rows x 3 columns]

In [97]:
import numpy as np
y_empty_est = (unagg_sample["revenue"].sum() ** 2).item() / 0.005 / 0.005
y_l_est = np.sum(unagg_sample.groupby("l_page_id").sum()["revenue"] ** 2).item() / 0.005 / 0.005 / 0.005
y_o_est = np.sum(unagg_sample.groupby("o_page_id").sum()["revenue"] ** 2).item() / 0.005 / 0.005 / 0.005
y_lo_est = np.sum(unagg_sample["revenue"] ** 2).item() / 0.005 / 0.005
y_empty_est, y_l_est, y_o_est, y_lo_est

(2.6491180502983094e+22,
 2.758196110567002e+21,
 2.7964169338870337e+21,
 1.378686476941509e+19)

In [98]:
theta1 = 0.005
theta2 = 0.005
a = theta1 * theta2
b_empty = (theta1 ** 2) * (theta2 ** 2)
b_l = theta1 * (theta2 **2)
b_o = (theta1 ** 2) * theta2
b_lo = theta1 * theta2
c_empty = b_empty
c_l = -b_empty + b_l
c_o = -b_empty + b_o
c_lo = b_empty - b_l - b_o + b_lo
a, (b_empty, b_l, b_o, b_lo), (c_empty, c_l, c_o, c_lo)

(2.5e-05,
 (6.25e-10, 1.2500000000000002e-07, 1.2500000000000002e-07, 2.5e-05),
 (6.25e-10, 1.2437500000000003e-07, 1.2437500000000003e-07, 2.4750625e-05))

In [99]:
sum_sigma2 = c_empty / (a**2) * y_empty_est + c_l / (a**2) * y_l_est + c_o / (a**2) * y_o_est + c_lo / (a**2) * y_lo_est - y_empty_est
sum_sigma2

1.6513416275799602e+24

In [100]:
sum_est = unagg_sample["revenue"].sum() / 0.005 / 0.005
sum_est

np.float64(32552222967400.0)

In [101]:
import scipy.stats
z_val = scipy.stats.norm.ppf(0.99)
est_lb = sum_est - z_val * (sum_sigma2 ** 0.5)

In [102]:
import scipy.stats
max_var = (0.05 * est_lb / z_val) ** 2
max_var

np.float64(4.037203665245085e+23)

In [104]:
import math
min_theta1 = 1
min_theta2 = 1
utility = 4*min_theta1 + min_theta2
for theta1 in [0.001 * i for i in range(1,21)]:
    for theta2 in [0.001 * i for i in range(1,21)]:
        a = theta1 * theta2
        b_empty = (theta1 ** 2) * (theta2 ** 2)
        b_l = theta1 * (theta2 **2)
        b_o = (theta1 ** 2) * theta2
        b_lo = theta1 * theta2
        c_empty = b_empty
        c_l = -b_empty + b_l
        c_o = -b_empty + b_o
        c_lo = b_empty - b_l - b_o + b_lo
        sum_var = c_empty / (a**2) * y_empty_est + c_l / (a**2) * y_l_est + c_o / (a**2) * y_o_est + c_lo / (a**2) * y_lo_est - y_empty_est
        if sum_var < max_var:
            current_ut = 4*theta1 + theta2
            if current_ut < utility:
                utility = current_ut
                min_theta1 = theta1
                min_theta2 = theta2
print(min_theta1, min_theta2, utility)

0.013000000000000001 0.02 0.07200000000000001